@charset "UTF-8";
/* CSS Document */

/*
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menuf
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
/*--------------------------------------------------------------
1.1 - BODY
-------------------------------------------------------------- */
/*--------------------------------------------------------------
1.2 - HEADINGS
-------------------------------------------------------------- */

/*--------------------------------------------------------------
1.4 - FORMS
-------------------------------------------------------------- */


form input {
	margin-top: 20px;
}

textarea, form.col-1-2 input, form.col-1-2 a {
	display: block;
}

form a {
	text-align: left;
}

label {
	display:none;
}

/*--------------------------------------------------------------
1.5 - LISTS
-------------------------------------------------------------- */
li {
	display: inline-block;
	list-style: none;
    font-weight: 700;
}

nav li {
	padding: 0 5px;
}

ul {
	padding-left: 0;
}


/*--------------------------------------------------------------
2.0 - MAIN MENU
-------------------------------------------------------------- */
nav a, a {
	text-decoration: none;
	padding-top:10px;
	color: #000000;
}


/*--------------------------------------------------------------
3.0 - SITE STRUCTURE
-------------------------------------------------------------- */


*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	background-color: #ffffff;
	margin: 0 auto;
	width: 70%;
}


.row:after {
	clear:both;
	content:"";
	display:table;
}


body {
	text-align: center;
}


header .col-2-3 {
	margin-top: 40px;
}

.col-3-4 p{
	display: inline-block;
}



/*--------------------------------------------------------------
3.3 - SECTIONS
-------------------------------------------------------------- */

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */


img {
	max-width: 100%   							
}	

#map {
	height: 200px;
}


/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

.right {
	float: right;
}

.left {
	float: left;
}

.center-block {
	margin: 0 auto;
	float: none !important;
}


/*--------------------------------------------------------------
5.1 - BG COLORS
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.2 - TXT UTILITY
-------------------------------------------------------------- */
/*--------------------------------------------------------------
5.3 - SPACING
-------------------------------------------------------------- */
/*--------------------------------------------------------------
5.4 - ALIGNMENTS
-------------------------------------------------------------- */




/*--------------------------------------------------------------
6.1 - SINGLE COLUMNS
-------------------------------------------------------------- */
/* ========================== COLUMNS ============================ */

[class*='col-'] {     							
	float: left;
	padding-right: 20px;   						
	margin-bottom: 20px;
}

[class*='col-']:last-of-type { 
	padding-right: 0;
}

.col-1-12 {
	width:8.33%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-10 {
	width: 10%;
}

.col-1-9 {
	width: 11.11%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-7 {
	width: 14.285%;
}

.col-1-6 {
	width: 16.66%;
}


.col-1-5 {
	width: 20%;
}

.col-1-4 {
	width: 25%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-2 {
	width: 50%;	
}

.col-1-1, .col-1-3 .col-1-3, .col-1-3 .col-2-3 {
	width: 100%;
}

/*--------------------------------------------------------------
6.2 - PARTIAL COLUMNS
-------------------------------------------------------------- */

  
 .col-2-7 {
	width: 28.57%;
}

 .col-4-11 {
	width: 36.36%;
} 	 

 .col-3-8 {
	width: 37.5%;
} 
 
 .col-2-5 {
	width: 40% ;
}

 .col-5-12 {
	width: 41.66%;
} 	

 .col-4-9 {
	width: 44.44%;
} 
 
 .col-5-9 {
	width: 55.55%;
} 
 
 
 .col-7-12 {
	width: 58.33%;
} 
	
 .col-3-5 {
	width: 60%;
}
	
 .col-5-8 {
	width: 62.5%;
}  

 .col-7-11 {
	width: 63.63%;
} 	

 .col-2-3 { 
	width: 66.66%;
}

 .col-5-7 {
	width: 71.43% ;
}

 .col-3-4 {
	width:75%;
}

  .col-8-12 {
 	width: 80%;
 }
 
  .col-5-6 {
	width: 83.33%;
}

  .col-9-10 {
	width: 90%;
} 



/*+++++++++++++++++++++++++++++++++++++++MEDIA QUERY+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


@media (max-width: 480px) {
	
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */		
/*--------------------------------------------------------------
1.1 - BODY
-------------------------------------------------------------- */

/*--------------------------------------------------------------
1.2 - HEADINGS
-------------------------------------------------------------- */
/*--------------------------------------------------------------
1.4 - FORMS
-------------------------------------------------------------- */	
/*--------------------------------------------------------------
1.5 - LISTS
-------------------------------------------------------------- */
/*--------------------------------------------------------------
2.0 - MAIN MENU
-------------------------------------------------------------- */

/*--------------------------------------------------------------
3.0 - SITE STRUCTURE
-------------------------------------------------------------- */

	.wrapper {
		width: 85%;
	}
	
	
	.col-3-4 p {
		display: block;
	}
	
	
	nav .col-2-3 {
		margin-top: 0;
	}
/*--------------------------------------------------------------
3.3 - SECTIONS
-------------------------------------------------------------- */
/*-- Services -- */

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */


/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.1 - BG COLORS
-------------------------------------------------------------- */	
	
/*--------------------------------------------------------------
5.2 - TXT UTILITY
-------------------------------------------------------------- */	


/*--------------------------------------------------------------
5.3 - SPACING
-------------------------------------------------------------- */	


/*--------------------------------------------------------------
5.4 - ALIGNMENTS
-------------------------------------------------------------- */

	
	
/* ========================= COLUMNS ============================== */


	.col-1-6:nth-child(3), .col-1-7, .col-1-8:nth-child(4), .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-10:nth-child(5), .col-1-11, .col-1-12:nth-child(4), .col-1-12:nth-child(8), col-1-6-sm, .col-8-12, .col-1-6 {
		padding-right: 0;    
	}
	
/*--------------------------------------------------------------
6.1 - SINGLE & FRACTION COLUMNS
-------------------------------------------------------------- */

	.col-1-5, .col-1-10  {
		width: 20%;
	}
	
	.col-1-4.col-sm, .col-1-8, .col-1-12  {
		width: 25%;
	}
	 
	 .col-2-7 {
		width: 28.57%;
	}
	
	.col-1-9, .col-1-3 .col-1-3  {
		width: 33.33%;
	}
	
	 .col-4-11 {
		width: 36.36%;
	} 	
	
	.col-3-8 {
		width: 37.5%;
	} 
	
	.col-2-5, .col-1-10.col-sm {
		width: 40% ;
	}
	
	.col-5-12 {
		width: 41.66%;
	} 	
	
	 .col-4-9 {
		width: 44.44%;
	} 
	
	.col-1-6.col-sm, .col-5-6 {
	width: 50%;
	}
	
	.col-5-9 {
		width: 55.55%;
	} 
	  
	.col-7-12 {
		width: 58.33%;
	} 
	
	.col-3-5, .col-9-10 {
		width: 60%;
	}
		
	.col-5-8 {
		width: 62.5%;
	}  
	  	
  	.col-7-11 {
		width: 63.63%;
	} 	
	
	.col-5-6, .col-2-3, .col-1-3 .col-2-3 {
		width: 66.66%;
	}
	
	.col-5-7 {
		width: 71.43% ;
	}
	
	.col-9-10 {
		width: 80%;
	}
	
	.col-1-6.col-sm {
		width: 90%;
	}
	
	.col-1-7, .col-1-11, .col-1-3, .col-8-12, .col-1-4, .col-2-3, .col-1-2, .col-1-6, col-3-4 {
		width: 100%;
	}
	
}

	
	
	