@charset "UTF-8";
/* CSS Document */

/*
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menuf
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/

/* when I code the spacing  - apply it to the row or div container */
/*should I combine elements from the btn class and btn hover (colors, borders, text-transform, font-weight, border, text-align center, text-decoration none etc.), combine margin 0 auto?,  */

body, nav li a {
	color: #6c6d6d;
}

h1, #location p, .col-1-4 h2, #location h2, .col-1-4 h3, #location p, blockquote p, blockquote a, .btn-lg:hover, .btn-sm:hover {
	color: #fff;
}

.col-1-2 header p, .col-2-3 header p,.bg-blue a, textarea, nav a:hover {
	color: #9E8E78;
}

h2, h3, .col-2-3 p:nth-child(4), .col-1-2 p:nth-child(5), blockquote a:hover, .bg-blue a:hover, .btn-sm, .btn-lg {
	color: #7D715F;
}

.btn-sm, .btn-lg, nav a, a {
	text-decoration: none;
}

form a, #location .col-1-2, .col-2-7 {
	text-align: left;
}

body, footer, body, .btn-sm, .btn-lg {
    text-align: center;
}
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */

html {
	font-size: 16px;
}
body {
	font-family: 'Open Sans', sans-serif;
}

img + p {
	font-weight: 200;
}

h1, blockquote p, blockquote a {
	font-weight: 300;
}

#location p, h2 {
	font-weight: 400;
}

#location span, li, .btn-sm, .btn-lg, h3 {
	font-weight: 600;
}

blockquote footer p, .bg-blue a {
	text-decoration: underline;
}

h2, .bg-taupe input, .bg-taupe p, li, .col-3-4 p, form.col-3-4 input, #contact a {
	display: inline-block;
}

textarea, form.col-1-2 input{
	display: block;
}

/*--------------------------------------------------------------
1.1 - BODY
-------------------------------------------------------------- */

blockquote footer p, blockquote p {
	margin: 0;
}

blockquote > p {
	margin-top: 30px;
}

#roasts .col-2-3 span, #featured .col-1-2 span {
	font-size: .75rem;
}

blockquote p{
	font-size: 1.7rem;
}

blockquote a {
	font-size: 1.5rem;
}

#contact span {
	font-weight: 700;  
}

 
/*--------------------------------------------------------------
1.2 - HEADINGS
-------------------------------------------------------------- */

h1, h2, h3, h4 {
	font-family: 'raleway', sans-serif;
}

h2 + div, h3 + div, .col-2-3 h3 + div, .col-1-2 h3 + div  {
	border-bottom: .5px solid #9E8E78;
}

#location h2 + div {
    border-bottom: .4px solid #fff;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.75rem;
	margin-bottom: 5px;
	margin-top: 50px;
}

h2~p, #box p {
	font-size: 1.2rem;
}

h3 {
	font-size: 1.5rem; 
}

section.col-1-3 .col-2-3 p:nth-child(3) {
    font-size: .95rem;
}

section.col-1-3 .col-2-3 p:nth-child(3), #roasts.col-2-3 span, #featured.col-1-2 span {
	font-weight: 200;
}

#footer h2 div {
	border-bottom: .5px solid #fff;
}

.col-1-2 h3 + div, .col-2-3 h3 + div, h2 + div {
	width: 100px;
	margin: 0 auto;
}

.bg-taupe h3 {
	padding-top: 20px;
}



/*----
----------------------------------------------------------
1.3 - BUTTONS
-------------------------------------------------------------- */

.btn-sm {
	padding: 10px 50px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.btn-lg {
	padding: 5px 40px;
	display: inline-block;
	background-color: #fff;
}

.btn-sm, .btn-lg {
	border: 1px solid #7D715F;
}

.btn-sm:hover {
	background-color: #9E8E78;
}

.btn-lg:hover {
	background-color: #7D715F;
}

#sprite {
    margin-left: 0;
}

#facebook {
    background-image: url(../img/facebook.png);
}

#twitter {
	background-image: url(../img/twitter.png);
}

#google {
	background-image: url(../img/google.png);
}

#facebook, #twitter, #google {
	width: 42.5px;
    height: 42.5px;
}

#facebook:hover, #twitter:hover, #google:hover {
	background-position: 0 -42.5px;
}


/*--------------------------------------------------------------
1.4 - FORMS
-------------------------------------------------------------- */

form p {
	margin-top: 25px;
}

textarea, form.col-1-2 input, form.col-1-2 a {
    width: 100%;
}

form.col-3-4 input {
	width: 75%;
}

label {
	display: none;
}

input, textarea, form a  {
	border: 1px solid #6c6d6d;
	margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: #9E8E78;
   padding-left: 10px;
}
::-moz-placeholder { /* Firefox 19+ */
   color: #9E8E78;
   padding-left: 10px; 
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9E8E78; 
   padding-left: 10px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9E8E78; 
  padding-left: 10px; 
}

input {
	padding: 8px;
}

#contact form.col-1-2 a {
	margin: 20px 20px 0 0;
	width: 200px;
}

#contact form.col-1-2 p {
	padding-right: 250px;
}


/*--------------------------------------------------------------
1.5 - LISTS
-------------------------------------------------------------- */
li {
	list-style: none;
}

nav li {
	padding: 0 5px;
}

ul {
	padding-left: 0;
}


/*--------------------------------------------------------------
2.0 - MAIN MENU
-------------------------------------------------------------- */
a {
	padding-top: 10px;
	color: #000000;
	font-size: .90rem;
}



/*--------------------------------------------------------------
3.0 - SITE STRUCTURE
-------------------------------------------------------------- */


*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
	width: 70%;
}

.row:after {
	clear:both;
	content:"";
	display:table;
}

header .col-2-3 {
	margin-top: 40px;
}

.bg-taupe:first-of-type {
	padding: 30px 0;
}

#contact.col-1-2 {
	padding: 0 50px;
}

section.col-1-2:first-of-type > div {
	border: .5px solid #9E8E78;
}

section.col-1-2:nth-child(2) h3{
	margin-top: 79px;
}

.bg-taupe .row {
	padding: 0;
}

/*--------------------------------------------------------------
3.3 - SECTIONS
-------------------------------------------------------------- */

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */

#hero { 
  background: url(../img/hero.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  padding: 80px 0 60px;
}
	

#map {
	height: 230px;
}

header img {
	margin-top: 20px;
}


/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

.right {
	float: right;
}

.center-block {
	margin: 0 auto;
	float: none !important;
}


/*--------------------------------------------------------------
5.1 - BG COLORS
-------------------------------------------------------------- */
.bg-taupe {
	background-color: #9e8e78;
}

.bg-brown {
	background-color: #7D715F;
}

.bg-blue {
	background-color: #E8E9E9;
}

/*--------------------------------------------------------------
5.2 - TXT UTILITY
-------------------------------------------------------------- */
.txt-uppercase {
	text-transform: uppercase;
}

/*--------------------------------------------------------------
5.3 - SPACING
-------------------------------------------------------------- */

header div.row, header div.col-1-6, section.bg-taupe  {
	padding: 0;
	margin: 0;
}

footer div.row, header.col-1-4 {
	padding-bottom: 0;
	margin-bottom: 0;
}

#roasts div.col-1-3 {
	padding-right: 0;
}

section.col-1-3 div.row {
	padding-top: 0;
}

.row, body > section {
	padding: 40px 0;
}

.bg-blue .col-8-12.center-block p {
	margin-bottom: 30px;
}

.bg-blue h2.txt-uppercase {
	margin-top: 30px;
}

#location .col-1-2 {
	padding: 20px;
}

#contact .col-1-2:first-of-type {
	padding-right: 20px;
}

#hero div.wrapper {
	padding: 75px 20px;
}

#roasts section.col-1-3:nth-child(3) p:first-of-type {
	margin-top: 51px;
}

.col-1-2 div:first-child {
	padding: 25px 0;
}

.m-t-md {
	margin-top: 37px;
}


/*--------------------------------------------------------------
5.4 - ALIGNMENTS
-------------------------------------------------------------- */



/*--------------------------------------------------------------
6.1 - SINGLE COLUMNS
-------------------------------------------------------------- */
/* ========================== COLUMNS ============================ */

[class*='col-'] {     							
	float: left;
	padding-right: 20px;   						
	margin-bottom: 20px;
}

[class*='col-']:last-of-type { 
	padding-right: 0;
}


.col-1-12 {
	width:8.33%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-10 {
	width: 10%;
}

.col-1-9 {
	width: 11.11%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-7 {
	width: 14.285%;
}

.col-1-6 {
	width: 16.66%;
}

.col-1-5 {
	width: 20%;
}

.col-1-4 {
	width: 25%;
}

.col-1-3 {
	width: 33%;
}

.col-1-2 {
	width: 50%;	
}

.col-1-1, .col-1-3 .col-1-3 { /* also .col-2-3 */
	width: 100%;
}

/*--------------------------------------------------------------
6.2 - PARTIAL COLUMNS
-------------------------------------------------------------- */

  
.col-2-7  {
	width: 28.57%;
}

.col-4-11 {
	width: 36.36%;
} 	 

.col-3-8 {
	width: 37.5%;
} 
 
.col-2-5 {
	width: 40% ;
}

.col-5-12 {
	width: 41.66%;
} 	

.col-4-9 {
	width: 44.44%;
} 

.col-3-4 {
	width:75%;
} 

.col-5-9 {
	width: 55.55%;
} 

.col-7-12 {
	width: 58.33%;
} 
	
.col-3-5 {
	width: 60%;
}
	
.col-5-8 {
	width: 62.5%;
}  

.col-7-11 {
	width: 63.63%;
}

.col-5-7 {
	width: 71.43% ;
}

.col-8-12 {
 	width: 80%;
}
 
.col-5-6 {
	width: 83.33%;
}

.col-9-10 {
	width: 90%;
} 




/*+++++++++++++++++++++++++++++++++++++++MEDIA QUERY+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


@media (max-width: 480px) {
	
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
	
/*--------------------------------------------------------------
1.1 - BODY
-------------------------------------------------------------- */
.col-3-4 p {
		display: block;
	}
		
/*--------------------------------------------------------------
1.2 - HEADINGS
-------------------------------------------------------------- */
 h1 {
		font-size: 2.1rem;
	}
/*--------------------------------------------------------------
1.4 - FORMS
-------------------------------------------------------------- */	
/*--------------------------------------------------------------
1.5 - LISTS
-------------------------------------------------------------- */
/*--------------------------------------------------------------
2.0 - MAIN MENU
-------------------------------------------------------------- */

/*--------------------------------------------------------------
3.0 - SITE STRUCTURE
-------------------------------------------------------------- */

	.wrapper {
		width: 85%;
	}
	
	nav .col-2-3 {
		margin-top: 0;
	}
	
	#hero div.wrapper {
		padding: 80px 20px 60px;
	}
	
	#hero { 
  		padding: 21px 0 26px;
	}
	
	#roasts .col-2-3 div {
		margin-right: 117px;
	}
	
	section.col-1-2:nth-child(2) h3, #roasts section.col-1-3:nth-child(3) p:first-of-type {
    	margin-top: 10px;
	}
	
	section.col-1-2 img  {
   		margin-top: 30px;
	}

	#featured div.row, #roasts div.row{
		padding-bottom: 0;
	}

/*--------------------------------------------------------------
3.3 - SECTIONS
-------------------------------------------------------------- */
/*-- Services -- */

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
	#roasts img {
	    width: 80px;
    	margin-top: 30px;
	}

/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.1 - BG COLORS
-------------------------------------------------------------- */	

/*--------------------------------------------------------------
5.2 - TXT UTILITY
-------------------------------------------------------------- */	

/*--------------------------------------------------------------
5.3 - SPACING
-------------------------------------------------------------- */	

	.m-t-md {
		margin-top: 10px;
	}


/*--------------------------------------------------------------
5.4 - ALIGNMENTS
-------------------------------------------------------------- */

	#roasts .col-2-3 {
		text-align: left;
	}

	.col-2-7 {
		text-align: center;
	}
	

/* ========================= COLUMNS ============================== */


	.col-8-12, .col-1-6, .col-1-2, .col-1-3 {
		padding-right: 0;    
	}
	
/*--------------------------------------------------------------
6.1 - SINGLE & FRACTION COLUMNS
-------------------------------------------------------------- */
	
	.col-1-3 .col-1-3 {
		width: 33.33%;
	}
	
	.col-1-3 .col-2-3 { 
		width: 66.66%;
	}
	
	.col-1-2, .col-1-3, .col-1-4, .col-1-6, .col-8-12, .col-2-7, .col-3-4 {
		width: 100%;
	}	
}